/* eagle */


.eagle{
    width: 10em;
    height: 10em;
    top: 10%; 
    left: -50%;
    position: absolute;
    animation: eagle 10s infinite;
    animation-delay: 1s;
}

@keyframes eagle {
    0% { transform: translateX(-200%) translateY(-50%); }
    50%{transform: translateX(1200%) translateY(300%);}
    100% {  transform: translateX(3500%) translateY(300%);  }
   }


/* birds */


/* 1st pink bird */

.birdp1{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/pink\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly 7s infinite;
    animation-delay: 0s;
}

@keyframes fly {
     0% { transform: translateX(-200%) translateY(-50%); }
     25%{ transform: translateX(500%) translateY(150%);}
     50%{transform: translateX(1200%) translateY(50%);}
     75%{transform: translateX(1800%) translateY(200%);}
     100% {  transform: translateX(3500%) translateY(110%);  } 
    }


/* 2nd pink bird */

.birdp2{ 
    width:3em; 
    height:3em; 
    background-image: url(./images/pink\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly1 7s infinite;
    animation-delay: 4s;
}

@keyframes fly1 {
     0% { transform: translateX(-110%) translateY(-80%); }
     25%{ transform: translateX(800%) translateY(190%);}
     50%{transform: translateX(1400%) translateY(48%);}
     75%{transform: translateX(1700%) translateY(180%);}
     100% {  transform: translateX(3500%) translateY(210%);  } 
    }



/* 1st blue bird */

.birdb1{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/blue\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly2 7s infinite;
    animation-delay: 2s;
}

@keyframes fly2 {
     0% { transform: translateX(-300%) translateY(-70%); }
     25%{ transform: translateX(400%) translateY(90%);}
     50%{transform: translateX(1100%) translateY(120%);}
     75%{transform: translateX(1900%) translateY(600%);}
     100% {  transform: translateX(3500%) translateY(250%);  } 
    }


/* 2nd blue bird */

.birdb2{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/blue\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly3 7s infinite;
    animation-delay: 5s;
}

@keyframes fly3 {
     0% { transform: translateX(-200%) translateY(-50%); }
     25%{ transform: translateX(400%) translateY(150%);}
     50%{transform: translateX(1100%) translateY(50%);}
     75%{transform: translateX(1900%) translateY(200%);}
     100% {  transform: translateX(3500%) translateY(100%);  } 
    }

/* 1st yellow bird */

.birdy1{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/yellow\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly4 7s infinite;
    animation-delay: 3s;
}

@keyframes fly4 {
     0% { transform: translateX(-200%) translateY(-50%); }
     25%{ transform: translateX(800%) translateY(150%);}
     50%{transform: translateX(1900%) translateY(50%);}
     75%{transform: translateX(2300%) translateY(200%);}
     100% {  transform: translateX(3500%) translateY(100%);  } 
    }


/* 2nd yellow bird */

.birdy2{ 
    width:3em; 
    height:3em; 
    background-image: url(./images/yellow\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly5 7s infinite;
    animation-delay: 6s;
}

@keyframes fly5 {
     0% { transform: translateX(-100%) translateY(-50%); }
     25%{ transform: translateX(900%) translateY(150%);}
     50%{transform: translateX(1400%) translateY(50%);}
     75%{transform: translateX(2200%) translateY(200%);}
     100% {  transform: translateX(3500%) translateY(50%);  } 
    }



/* 1st purple bird */

.birdr1{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/purple\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly6 7s infinite;
    animation-delay: 8s;
}

@keyframes fly6 {
     0% { transform: translateX(-130%) translateY(-250%); }
     25%{ transform: translateX(390%) translateY(150%);}
     50%{transform: translateX(1200%) translateY(50%);}
     75%{transform: translateX(2500%) translateY(200%);}
     100% {  transform: translateX(3500%) translateY(60%);  } 
    }


/* 2nd purple bird */

.birdr2{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/purple\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly7 7s infinite;
    animation-delay: 7s;
}

@keyframes fly7 {
     0% { transform: translateX(-250%) translateY(-150%); }
     25%{ transform: translateX(560%) translateY(150%);}
     50%{transform: translateX(1650%) translateY(50%);}
     75%{transform: translateX(1820%) translateY(200%);}
     100% {  transform: translateX(3500%) translateY(145%);  } 
    }





    /* repeat animation again */





/* 1st pink bird */

.birdp3{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/pink\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly 7s infinite;
    animation-delay: 8s;
}

/* 2nd pink bird */

.birdp4{ 
    width:3em; 
    height:3em; 
    background-image: url(./images/pink\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly1 7s infinite;
    animation-delay: 12s;
}

/* 1st blue bird */

.birdb3{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/blue\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly2 7s infinite;
    animation-delay: 9s;
}


/* 2nd blue bird */

.birdb4{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/blue\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly3 7s infinite;
    animation-delay: 13s;
}

/* 1st yellow bird */

.birdy3{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/yellow\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly4 7s infinite;
    animation-delay: 10s;
}

/* 2nd yellow bird */

.birdy4{ 
    width:3em; 
    height:3em; 
    background-image: url(./images/yellow\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly5 7s infinite;
    animation-delay: 14s;
}



/* 1st purple bird */

.birdr3{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/purple\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly6 7s infinite;
    animation-delay: 11s;
}

/* 2nd purple bird */

.birdr4{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/purple\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly7 7s infinite;
    animation-delay: 15s;
}





    /* repeat animation again */





/* 1st pink bird */

.birdp5{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/pink\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly 7s infinite;
    animation-delay: 16s;
}

/* 2nd pink bird */

.birdp6{ 
    width:3em; 
    height:3em; 
    background-image: url(./images/pink\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly1 7s infinite;
    animation-delay: 20s;
}

/* 1st blue bird */

.birdb5{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/blue\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly2 7s infinite;
    animation-delay: 17s;
}


/* 2nd blue bird */

.birdb6{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/blue\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly3 7s infinite;
    animation-delay: 21s;
}

/* 1st yellow bird */

.birdy5{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/yellow\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly4 7s infinite;
    animation-delay: 18s;
}

/* 2nd yellow bird */

.birdy6{ 
    width:3em; 
    height:3em; 
    background-image: url(./images/yellow\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly5 7s infinite;
    animation-delay: 22s;
}



/* 1st purple bird */

.birdr5{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/purple\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly6 7s infinite;
    animation-delay: 19s;
}

/* 2nd purple bird */

.birdr6{ 
    width: 3em; 
    height: 3em; 
    background-image: url(./images/purple\ bird.png); 
    background-size: contain;
    position: absolute; 
    top: 10%; 
    left: -20%; 
    animation: fly7 7s infinite;
    animation-delay: 23s;
}


/* media query */

@media (max-width: 1024px){

    body{
        overflow: hidden;
    }

    .eagle{
        animation: eagle 25s infinite;
    }


}