*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: crosshair;
}

body{
    background-color: #0c6eca;
    background-repeat: repeat-x;
}

input{
    display: none;
}

.message{
    display: flex;
    justify-content: center;
}

/* score board */
.score{
    color: #fff;
    background-color: #341212;
    padding: 1em;
    width: 90%;
    text-align: center;
    border: 1px solid #fff;
    position: fixed;
    bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .score::before{
    content:'Kill All Birds';
    display: inline-block;
    margin-left: 0.5em;
} */

/* .score::after{
    content: counter( score );
    display: inline-block;
    margin-left: 0.5em;
} */

/* input :checked{
    counter-increment :score;
} */

/* display none after check bird */


#birdp1:checked + label{
    display: none;
}

#birdp2:checked + label{
    display: none;
}

#birdy1:checked + label{
    display: none;
}

#birdy2:checked + label{
    display: none;
}

#birdr1:checked + label{
    display: none;
}

#birdr2:checked + label{
    display: none;
}

#birdb1:checked + label{
    display: none;
}

#birdb2:checked + label{
    display: none;
}

/* second loop */

#birdp3:checked + label{
    display: none;
}

#birdp4:checked + label{
    display: none;
}

#birdy3:checked + label{
    display: none;
}

#birdy4:checked + label{
    display: none;
}

#birdr3:checked + label{
    display: none;
}

#birdr4:checked + label{
    display: none;
}

#birdb3:checked + label{
    display: none;
}

#birdb4:checked + label{
    display: none;
}

/* third loop */

#birdp5:checked + label{
    display: none;
}

#birdp6:checked + label{
    display: none;
}

#birdy5:checked + label{
    display: none;
}

#birdy6:checked + label{
    display: none;
}

#birdr5:checked + label{
    display: none;
}

#birdr6:checked + label{
    display: none;
}

#birdb5:checked + label{
    display: none;
}

#birdb6:checked + label{
    display: none;
}