*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: crosshair;
}

body{
    background-color: #0c6eca;
    background-repeat: repeat-x;
}

.sun{
    position: fixed;
    top: 2em;
    right: 2em;
}

input{
    display: none;
}

.bird{
    width: 3em;
    height: 3em;
    z-index: 30;
}

.board{
    color: #fff;
    background-color: #341212;
    padding: 1em;
    width: 8em;
    text-align: center;
    border: 1px solid #fff;
    position: fixed;
    bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.message{
    display: flex;
    justify-content: center;
}

/* display none after check bird */


#birdp1:checked + label{
    opacity: 0%;
}

#birdp2:checked + label{
    opacity: 0%;
}

#birdy1:checked + label{
    opacity: 0%;
}

#birdy2:checked + label{
    opacity: 0%;
}

#birdr1:checked + label{
    opacity: 0%;
}

#birdr2:checked + label{
    opacity: 0%;
}

#birdb1:checked + label{
    opacity: 0%;
}

#birdb2:checked + label{
    opacity: 0%;
}

/* animations */

@keyframes first {
    0%  {
        top: 10%;
        right: 150%;
    }
    25%  {
        top: 50%;
        right: 80%;
    }
    50%  {
        top: 30%;
        right: 50%;
    }
    75%  {
        top: 40%;
        right: 30%;
    }
    100%  {
        top: 10%;
        right: -50%;
    }
}