*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: crosshair;
}

body{
    background-image: url(./images/background\ 2.png);
    background-color: #22b14c;
    background-repeat: repeat-x;
}

.sun{
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 10;
}

.tree{
    position: fixed;
    top: 13em;
    right: 2em;
    z-index: 10;
}

input{
    display: none;
}

.bird{
    width: 3em;
    height: 3em;
}

/* apply animation on bird */

.birdp1{
    animation-name: first ;
    animation-duration: 4s;
}

/* display none after check bird */

#birdp1:checked + label{
    opacity: 0%;
}

#birdp2:checked + label{
    opacity: 0%;
}

#birdp3:checked + label{
    opacity: 0%;
}

#birdp4:checked + label{
    opacity: 0%;
}

#birdy1:checked + label{
    opacity: 0%;
}

#birdy2:checked + label{
    opacity: 0%;
}

#birdy3:checked + label{
    opacity: 0%;
}

#birdy4:checked + label{
    opacity: 0%;
}

#birdr1:checked + label{
    opacity: 0%;
}

#birdr2:checked + label{
    opacity: 0%;
}

#birdr3:checked + label{
    opacity: 0%;
}

#birdr4:checked + label{
    opacity: 0%;
}

#birdb1:checked + label{
    opacity: 0%;
}

#birdb2:checked + label{
    opacity: 0%;
}

#birdb3:checked + label{
    opacity: 0%;
}

#birdb4:checked + label{
    opacity: 0%;
}

/* animations */

@keyframes first {
    0%  {
        top: 10%;
        left: -10%;
    }
    25%  {
        top: 50%;
        left: 65%;
    }
    75%  {
        top: 20%;
        left: 80%;
    }
    100%  {
        top: 40%;
        left: 150%;
    }
}